{% extends base.html %}

{% block title %}{{ urltag|default:"Crimson Beacon" }}{% endblock %}

{% block content %}

<p class='title'>IC Manage - IP Reuse & Design Management Best Practices & Case Studies</p>
<p class='text'>Full papers are limited to 12 pages, single-spaced, in 12-point type, including title, abstract (250
words or less), figures, tables, text, and bibliography. The first page should give key
words or less), figures, tables, text, and bibliography. The first page should give keywords or less), figures, tables, text, 
and bibliography. The first page should give key</p>
<p>&nbsp;</p>

<p class='title'>IC Manage - IP Reuse & Design Management Best Practices & Case Studies</p>
<p class='text'>Full papers are limited to 12 pages, single-spaced, in 12-point type, including title, abstract (250
words or less), figures, tables, text, and bibliography. The first page should give key
words or less), figures, tables, text, and bibliography. The first page should give keywords or less), figures, tables, text, 
and bibliography. The first page should give key</p>
<p>&nbsp;</p><p>&nbsp;</p>
</td>

{% endblock %}

{% block sidebar %}

<p class='title'>Recent:</p>
<p class='sidetext'>Design Management and IP Reuse survey results<br /><br />
Variation Aware Design Survey results</p>
<p>&nbsp;</p>

<!-- Temporary placeholder for additional menu items 
<p class='sidetitle'>Videos<br /><br />
Papers</p> -->

</td>

{% endblock %}
