{% extends "base.html" %}

{% block title %}Contributor | Crimson Beacon{% endblock %}

{% block content %}

{% load staticfiles %}
<p class='title'>Contributor Bio</p>
<p class='text'><img src="{% static 'images/Graphics/Gloria5.16.jpg' %}" width='206' height='279' border='0' alt='Gloria' hspace='10' align='right'>

	Gloria Nichols works as a principal at <a href='http://www.launchm.com' target='_blank'>Launch Marketing</a>.<br /><br />
	  
	She has more than 14 years in the electronics industry, through the VP level, spanning marketing strategy, 
	technology research, and business development. Gloria has run numerous surveys related to semiconductor design and EDA technologies.<br /><br />
	 
	She has an MBA from Harvard Business School, and a BS in Engineering from Stanford University.<br /><br /></p>


<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
				
{% endblock %}

{% block sidebar %}

<p>&nbsp;</p>

{% endblock %}
